.main-visual {
  .video-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: grid;
    grid-template-rows: 10vh 1fr 1fr 1fr 1fr;
    grid-template-columns: 5% 90% 5%;
    .box {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #b09382;
      border-top: none;
      border-left: none;
      color: #F8F6F2;
      font-size: min(8vw, 8rem);
      font-weight: 300;
      text-transform: uppercase;
      &:nth-child(3n) {
        border-right: none;
      }
      &:nth-last-child(-n + 3) {
        border-bottom: none;
      }
      span {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #a67763;
        overflow: hidden;
        transform: scaleY(0%);
        // animation: grid-ani 3s ease-out infinite;
      }
      &.n5::before {
        content: "Web Design";
      }
      &.n8::before {
        content: "Front-End Develop";
      }
      &.n11::before {
        content: "OF THE YEAR";
      }
      &.n14::before {
        content: "2025";
        float: right;
      }
    }
  }
}
@keyframes grid-ani {
  0% {
    transform-origin: bottom;
    transform: scaleY(0%);
  }
  25% {
    transform-origin: bottom;
    transform: scaleY(100%);
  }
  50% {
    transform-origin: top;
    transform: scaleY(100%);
  }
  100% {
    transform-origin: top;
    transform: scaleY(0%);
  }
}
.intro-info {
  .inner {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 200vh;
    .intro-01 {
      position: sticky;
      top: 10vh;
      width: 80%;
      height: 100vh;
      background: #d6cfc4;
      float: left;
      padding: 5vw 6vw;
      box-sizing: border-box;
      font-size: min(3vw, 4rem);
      line-height: 1.28;
      color: #533527;
      b {
        font-weight: 700;
      }
    }
    .intro-02 {
      position: sticky;
      top: calc(55vh - 2px);
      width: 25%;
      height: 55vh;
      margin-top: 120vh;
      margin-left: -5%;
      background: #efece6;
      float: left;
      padding: 60px;
      box-sizing: border-box;
      z-index: 1;
    }
  }
}

.work-history {
  background: #f7f5f1;
  .list {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      transition: 0.5s ease-in-out;
      flex: 1;
      height: 60%;
      border: 1px solid transparent;
      border-left: none;
      border-image: linear-gradient(to bottom, #C3A08F 0%, transparent 100%);
      border-image-slice: 1;
      box-sizing: border-box;
      padding: 40px;
      line-height: 1.6;
      .name {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .details {
        transition: .5s ease-in-out;
        opacity: 0;
        p:nth-child(n+2){
          color: #777;
          font-size: 0.8rem;
        }       
      }
    }
    li:hover {
      flex: 3;
      .details {
        opacity: 1;
      }
    }
  }
}

.portfolio-site {
  background: #5c4439;
  ul{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: repeat(3, minmax(100px, auto));
    li.box {
      min-height: 100px;
      outline: 1px solid gray;
    }
  }
}

.portfolio-design {
  background: #f8f6f2;
}

.edu-history {
  background: #a47864;
}

.main-skills {
  background: #5c4439;
}
